<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Danh sách công việc</h2>
<table border="1">
    <tr>
        <th>Nội dung</th>
        <th>Ngày hết hạn</th>
        <th>Trạng thái</th>
        <th>Ưu tiên</th>
    </tr>

    <tr th:each="t : ${todos}">
        <td th:text="${t.content}"></td>
        <td th:text="${t.dueDate}"></td>
        <td th:text="${t.status}"></td>
        <td th:text="${t.priority}"></td>
    </tr>
</table>
<hr>

<h2>Thêm công việc</h2>
<form th:action="@{/todos}" th:object="${todo}" method="post">

    Nội dung:
    <input type="text" th:field="*{content}">
    <span th:errors="*{content}" style="color:red"></span>
    <br><br>

    Ngày hết hạn:
    <input type="date" th:field="*{dueDate}">
    <span th:errors="*{dueDate}" style="color:red"></span>
    <br><br>

    Ưu tiên:
    <select th:field="*{priority}">
        <option value="LOW">LOW</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HIGH">HIGH</option>
    </select>

    <br><br>
    <button type="submit">Thêm</button>
</form>

<tr th:each="t : ${todos}">
    <td th:text="${t.content}"></td>
    <td th:text="${t.dueDate}"></td>
    <td th:text="${t.status}"></td>
    <td th:text="${t.priority}"></td>
    <td>
        <a th:href="@{/todos/edit/{id}(id=${t.id})}">Sửa</a>
        <a th:href="@{/todos/delete/{id}(id=${t.id})}"
           onclick="return confirm('Bạn có chắc muốn xóa?')">
            Xóa
        </a>
    </td>
</tr>
</body>
</html>